<div fxFlex fxLayout="column" fxLayoutGap="10px" style="height:100vh" class="container">
   <h1 class="title">FORM CONTACT</h1>
   <div class="content">
       
   <form #f="ngForm" (ngSubmit)="processForm(f)" id="contactForm">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="contact.name" name="name" #name="ngModel"  id="name" type="text" required minlength="5">
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="name.errors?.required && name.touched" >
        *Name is required
    </mat-error>
    <mat-error *ngIf="name.errors?.minlength && name.touched" >
        *Enter your name.
    </mat-error>
    </mat-form-field>


    <mat-form-field>
      <input matInput placeholder="Enter your email" [(ngModel)]="contact.email" name="email" #email="ngModel" id="email" type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
      <mat-icon matSuffix>drafts</mat-icon>
      <mat-error *ngIf="email.errors?.required && email.touched" >
            *Email is required
        </mat-error>
        <mat-error *ngIf="email.errors?.pattern && email.touched" >
            *Email invalid
        </mat-error>
    </mat-form-field>


    <mat-form-field>
      <input type="tel" matInput placeholder="Telephone" [(ngModel)]="contact.phone" name="phone" #phone="ngModel"  id="phone" type="text" required pattern="(\+?( |-|\.)?\d{1,2}( |-|\.)?)?(\(?\d{3}\)?|\d{3})( |-|\.)?(\d{3}( |-|\.)?\d{4})">
      <mat-icon matSuffix>call</mat-icon>
      <mat-error *ngIf="phone.errors?.required && phone.touched" >
        *Phone is required
    </mat-error>
    <mat-error *ngIf="phone.errors?.pattern && phone.touched" >
        *Phone is invalid
    </mat-error>
    </mat-form-field>


    <mat-form-field>
      <input matInput placeholder="Subject" [(ngModel)]="contact.subject" name="subject" #subject="ngModel"  id="subject" type="text" required minlength="3">
      <mat-icon matSuffix>create</mat-icon>
      <mat-error *ngIf="subject.errors?.required && subject.touched" >
        *Subject is required
    </mat-error>
    <mat-error *ngIf="subject.errors?.minlength && subject.touched" >
        *Enter your subject
    </mat-error>
    </mat-form-field>


    <mat-form-field>
      <textarea matInput placeholder="Message" [(ngModel)]="contact.message" name="message" #message="ngModel" id="message" required minlength="5"></textarea>
      <mat-icon matSuffix>save</mat-icon>
      <mat-error *ngIf="message.errors?.required && message.touched">
        *Message is required
    </mat-error>
    <mat-error *ngIf="message.errors?.minlength && message.touched">
        *Message is short.
    </mat-error>
    </mat-form-field>
    <button mat-raised-button class="btn-custom" [disabled]="!f.valid" >Send Now<i class="material-icons">
        send
      </i></button>
  </form>
</div>
  </div>